@model elearn.Models.MarkItUpDataModel


@{
    var markitUpId = "markItUp" + Model.Name;
    var previewId = "preview" + Model.Name;
}


<p>
<textarea id="@markitUpId" cols="80" rows="20">
@if (Model.Data != null && Model.Data.Length > 0)
{
     @Model.Data;
}
</textarea>
</p>
<div id="@previewId" class="markitupPreview">
</div>
    


<script type="text/javascript">

    $(function () {
        $("#"+"@markitUpId").markItUp(mySettings);
        $("#"+"@markitUpId").live("keyup", function () {
            $("#" + "@previewId").html(convert($("#" + "@markitUpId").val()));
            $("#"+"@previewId"+" pre").each(function (index, item) {
                $(this).html($(this).html().replace(/\;/g, ";\n"));
                $(this).html($(this).html().replace(/\{/g, "{\n"));
            });
            SyntaxHighlighter.highlight($("#"+"@previewId"));
        });
    })

</script>