<div id="nav_top" class="clearfix round_top">
	<ul class="clearfix round_all">
		<li><a href="@Url.Action("Admin", "Profile")"><img src="@Url.Content("~/Content/Adminica/images/icons/small/grey/month_calendar.png")"/>Profiles</a></li>
		<li><a href="@Url.Action("Admin", "Course")"><img src="@Url.Content("~/Content/Adminica/images/icons/small/grey/graph.png")"/>Courses</a></li>
		<li><a href="@Url.Action("LogOff", "Account")"><img src="@Url.Content("~/Content/Adminica/images/icons/small/grey/locked_2.png")"/>LogOut</a></li>
	</ul>	
</div><!-- #nav_top -->