            <div id="sidebar">
				<div class="cog">+</div>
				
				<a class="logo"><span>Code Dash</span></a>
			
				<div class="user_box round_all clearfix">
					<img src="@Url.Content("~/Content/Adminica/images/profile.jpg")" width="55" alt="Profile Pic" />
					<h2>@Html.GetUserRole()</h2>
					<h3><a class="text_shadow" href="@Url.Action("Details","UserProfile",new {id=Html.GetUserId()})">@Html.GetUserName()</a></h3>
					<ul>
						<li><a href="#">settings</a><span class="divider">|</span></li>
						<li><a href="@Url.Action("LogOff", "Account")">logout</a></li>
					</ul>
				</div><!-- #user_box -->
			
				<ul id="accordion" class="round_all">
					<li><a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/Content/Adminica/images/icons/small/grey/home.png")"/>Home</a>
					</li>
					<li><a href="#" class="top_level has_slide"><img src="@Url.Content("~/Content/Adminica/images/icons/small/grey/expose.png")"/>Courses</a>
						<ul class="drawer">
							<li><a href="@Url.Action("MyCourses", "Course")">My Courses</a></li>
							<li><a href="@Url.Action("List", "Course")">All Courses</a></li>
                            <li><a href="@Url.Action("Create", "Course")">Add Course</a></li>
						</ul>
					</li>
                    <li><a href="#" class="top_level has_slide"><img src="@Url.Content("~/Content/Adminica/images/icons/small/grey/fountain_pen.png")"/>Tests</a>
						<ul class="drawer">
							<li><a href="#">Pending Tests</a></li>
							<li><a href="@Url.Action("Finished","Test")">Completed Tests</a></li>
						</ul>
					</li>
                    <li><a href="@Url.Action("MyJournal","Journal")"><img src="@Url.Content("~/Content/Adminica/images/icons/small/grey/winner_podium.png")"/>Journals</a>
                    </li>
                   <li><a href="@Url.Action("Details","UserProfile",new {id=Html.GetUserId()})"><img src="@Url.Content("~/Content/Adminica/images/icons/small/grey/v-Card_2.png")"/>Profile</a>
                    </li>
				</ul>
				<form id="search_side"><input class="round_all" type="text" value="Search Adminica..." onclick="value=''"></form>
				<ul id="side_links" class="text_shadow round_all" >
					<li><a href="http://www.mfranc.com">Author</a></li>
					<li><a href="#">About</a></li>
				</ul>
			</div><!-- #sidebar -->