
@model  elearn.Models.JoinGroupModel
@if (Model.IsPasswordProtected)
{
    @Html.TextBox("Password", "", new { id = "txtBoxPassword", type = "Password" })
}
<button style="float:right;" id="btnJoin" >Join</button>
<button style="float:right;" id="btnOk" hidden="hidden">Ok</button>
<span id="modalResultFail" hidden="hidden"><img src="@Url.Content("~/Content/Icons/handup.gif")" /></span>
<span id="modalResultOk" hidden="hidden"><img src="@Url.Content("~/Content/Icons/handup.gif")" /></span>
<span id="summary"></span>
<script type="text/javascript">

    $(function()
        {

        $("#btnOk").click(){
            $("#createEventModal").dialog("close");           
        };

        $("#btnJoin").click(function() {           
            var pass = $("#txtBoxPassword").val();
            var passOk = false;
            if (@Convert.ToInt32(Model.IsPasswordProtected)){
                $.ajax({
                        type: "POST",
                        url: "@Html.Raw(Url.Action("CheckPassword", "Course", new { courseId = Model.CourseId}))",
                        async:false,
                        data: "password=" + pass,
                        success: function(msg) {
                            if (msg.IsSuccess) {
                                passOk = true;
                                $("#btnOk").show();
                                $("#btnJoin").hide();
                                $("#modalResultFail").hide();
                            }
                            else {
                                $("#summary").text("Wrong Password");
                                $("#modalResultFail").show();
                            }
                        },
                        failure: function() {
                            $("#summary").text("Error");
                            $("#modalResultFail").show();
                            $("#btnOk").show();
                            $("#btnJoin").hide();
                        },
                      statusCode: { 404: function() {
                            $("#summary").text("Error");
                            $("#modalResultFail").show();
                            $("#modalResultFail").show();
                            $("#btnOk").show();
                            $("#btnJoin").hide();
                        }}
                    });
            }
            else {
                passOk = true;
            }
            if (passOk)
            {
                $.ajax({
                        type: "POST",
                        url: "@Html.Raw(Url.Action("Join", "Group", new { courseId = Model.CourseId, groupId = Model.GroupId, profileId = Model.ProfileId }))",
                        cache: false,
                        dataType: "json",
                        success: function(data) {
                            if (data.IsSuccess) {
                                $("#summary").text("You have succesfully joined course!");
                                $("#modalResultOk").show();
                                $("#btnOk").show();
                                $("#btnJoin").hide();
                            }
                            else {
                                $("#summary").text("Failed");
                                $("#modalResultFail").show();
                                $("#btnOk").show();
                                $("#btnJoin").hide();
                            }
                        },
                        error: function() {
                            $("#summary").text("Error");
                            $("#modalResultFail").show();
                            $("#modalResultFail").show();
                            $("#btnOk").show();
                            $("#btnJoin").hide();
                        },
                      statusCode: { 404: function() {
                            $("#summary").text("Error");
                            $("#modalResultFail").show();
                            $("#modalResultFail").show();
                            $("#btnOk").show();
                            $("#btnJoin").hide();
                        }}
                 });
            }
        });
       });
 </script>