@{
    ViewBag.Title = "Details";
}
@model NHiberanteDal.DTO.JournalModelDto[]
           

@if (Model.Count() > 0)
{ 
    foreach(var journal in Model)
    {
        @journal.Course.Name
        <br />
        @journal.ID
        <ul>
            @foreach (var mark in journal.Marks)
            {
                <li>@mark.Name - @mark.Value - Date - @mark.DateAdded</li>
            }
        </ul>
    }
}

<h2>
    Details</h2>
