@model NHiberanteDal.DTO.LearningMaterialDto

@{
    var markitUpId = "markItUpsection";
    var previewId = "previewsection";
}
@{var counter=0;}
@foreach (var sect in Model.Sections)
{ 
    @Html.Partial("_SingleSectionEditor", sect)
    counter++;
}


<button  id="sectionAddBtn" class="button_colour">
    <img src="@Url.Content("~/Content/Icons/ok.png")"/>
<span>Add</span>

<script type="text/javascript">

    $(function () {

        $('[name="sectionSaveBtn"]').click(function () {

        var sectionId = $(this).attr('sectionnumber');
            $.ajax({
            type: "POST",
            url:"@Url.Action("UpdateSection", "LearningMaterial")/@Model.ID",
            data: "data="+$("#"+"@markitUpId"+sectionId).val()+"&sectionNumber="+sectionId+"&title="+$("#txtBoxSectionTitle"+sectionId).val(),
            success:function(data)
            {
                if(data.IsSuccess)
                {
                    ShowGreenAlert("Section Succesfully updated. Refresh to see changes",450);
                }
                else
                {
                    ShowRedAlert("Problem updating section.");
                }
            }
            });

        });


        $('[name="sectionRemoveBtn"]').click(function () {

        var sectionId = $(this).attr('sectionnumber');
            $.ajax({
            type: "POST",
            url:"@Url.Action("RemoveSection", "LearningMaterial")",
            data: "id="+@Model.ID+"&sectionId="+sectionId,
            success:function(data)
            {
                if(data.IsSuccess)
                {
                    ShowGreenAlert("Section Succesfully removed. Refresh to see changes",450);
                }
                else
                {
                    ShowRedAlert("Problem removing section.");
                }
            }
            });

        });

        //todo more sections at one click
        $("#sectionAddBtn").click(function(){
        
            $.ajax({
            type: "POST",
            url:"@Url.Action("AddSections", "LearningMaterial", new { id = Model.ID })",
            data: "count="+1,
            success:function(data)
            {
                if(data.IsSuccess)
                {
                    ShowGreenAlert("Section Succesfully added. Refresh to see changes",450);
                }
                else
                {
                    ShowRedAlert("Problem adding section.");
                }
            }
            });
        
        });

    })


</script>