@model NHiberanteDal.DTO.SectionDto
   
   
    <h3 class="bar ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" tabindex="-1">@Model.Title</h3>
	    <div class="content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" role="tabpanel" style="display: none; ">
    <div>
        @Html.LabelFor(m => m.Title)
        @{var textBoxName = "txtBoxSectionTitle" + @Model.ID; }
        @Html.TextBoxFor(m => m.Title, new { id = textBoxName })
    </div>
            @Html.Partial("_MarkItUpEditorPartial", new elearn.Models.MarkItUpDataModel() { Data = @Model.Text, Name = "section" + @Model.ID }) 

        <button  name="sectionSaveBtn" sectionnumber='@Model.ID'  class="button_colour">
            <img src="@Url.Content("~/Content/Icons/ok.png")"/>
        <span>save</span>
        </button>

        <button  name="sectionRemoveBtn" sectionnumber='@Model.ID'  class="button_colour">
            <img src="@Url.Content("~/Content/Icons/ok.png")"/>
        <span>remove</span>
        </button>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </div>