@model NHiberanteDal.DTO.ProfileModelDto

@{
    ViewBag.Title = "Profile Details";
}

<fieldset>
    <p><strong>Name</strong> : @Model.DisplayName</p>

    <p><strong>Role</strong> : @Model.Role</p>

    <p><strong>Email</strong> : @Model.Email</p>
</fieldset>

<hr class="grid_16" />
<button class="button_colour" onClick="window.location='@Url.Action("Edit")'">
    <img height="24" width="24" alt="Bended Arrow Right" src="@Url.Content("~/Content/Adminica/images/icons/small/white/pencil.png")">
    <span>Edit</span>
</button>

