@model NHiberanteDal.DTO.CourseSignatureDto

<li data-id="@Model.CourseType.TypeName" data-type="@Model.CourseType.TypeName">
		<a id="opener" href="@Url.Action("Details", new { id = @Model.ID })" class="features">
		<img src="@Url.Content("~/Content/Images/"+@Model.Logo+".png")"/><strong>@Model.Name</strong>
		<span class="update">0</span>
        </a>
</li>