

@model NHiberanteDal.DTO.CourseDto

<div style="padding:10px;">
    <div id="shoutBoxMessages"></div>
<br />
<br />
<input style="width: 100%;" id="shoutBoxText" type="text"/>
<div id="markGood" hidden="hidden" ><img src="@Url.Content("~/Content/Icons/handup.gif")" /></div>
<div id="markFail" hidden="hidden"><img src="@Url.Content("~/Content/Icons/handdown.gif")" /></div>
<div id="markLoading" hidden="hidden"><img src="@Url.Content("~/Content/Icons/ajax-loading-2.gif")" /></div>
</div>

<script type="text/javascript"> 

    $().ready(function () {
        reloadShoutBox();
        $("#shoutBoxText").bind('keypress', function (e) {

            var code = (e.keyCode ? e.keyCode : e.which);
            //enter code
            if (code == 13) {
                
                $("#markGood").hide();
                $("#markFail").hide();
                $("#markLoading").show();
                var shoutBoxtext = $("#shoutBoxText").val();
                $.ajax({
                    type : "POST",
                    timeoutNumber : 5000,
                    url: "@Html.Raw(Url.Action("Add", "ShoutBox", new { id =Model.ShoutBox.ID}))",
                    data: "message="+shoutBoxtext,
                    success: function(msg) {
                            if (msg.IsSuccess) {
                                reloadShoutBox();
                                $("#shoutBoxText").val("");
                                $("#markGood").show();
                        }
                        else {
                            $("#markFail").show();
                            $("#markLoading").hide();
                       }
                    },
                    failure : function () {
                        $("#markFail").show();
                        $("#markLoading").hide();
                    },
                      statusCode: { 404: function() {
                             $("#markFail").show();
                             $("#markLoading").hide();
                        }}
                });
            }
        });

    });
    
    
        function reloadShoutBox() {
        $("#markLoading").show();
        $.ajax({
            type : "POST",
                url: "@Url.Action("GetMessages", "ShoutBox", new { id = ViewData.Model.ShoutBox.ID})",
                success: function(msg) {
                        if (msg.IsSuccess) {
                            var messageBox = $("#shoutBoxMessages");
                            messageBox.html("");
                            for (var i = 0;i<msg.Data.length;i++) {
                                messageBox.append(FormatMessage(msg.Data[i]));
                            }
                            $("#markGood").show();
                            $("#markLoading").hide();
                    }
                    else {
                        $("#markFail").show();
                        $("#markLoading").hide();
                    }
                },
                failure : function () {
                    $("#markFail").show();
                    $("#markLoading").hide();
                },
                statusCode: { 404: function() {
                    $("#markFail").show();
                    $("#markLoading").hide();
                }}
            });
    };

    
    
    function FormatMessage(data) {
        var formatedMessage = 
        "<span style='color:grey;'>"+FormatDate(JsonToDate(data.TimePosted))+"</span>" +" &nbsp; : &nbsp; <strong>"+data.Author+"</strong>" + "&nbsp; <img width='8px' height='8px' src='@Url.Content("~/Content/Icons/greenarrow.gif")'/> &nbsp;" + data.Message + " &nbsp;<br/>";
        return formatedMessage;
    }
    
    
    function FormatDate(date) {


        var month = date.getMonth();
        if (month <10)
            month = "0" + month;

        var days = date.getDay();
        if (days <10)
            days = "0" + days;

        var hours = date.getHours();
        if (hours <10)
            hours = "0" + hours;
        
        var minutes = date.getMinutes();
        if (minutes<10)
            minutes = "0" + minutes;
        return days + "." + month + " " +hours + ":" + minutes;
    }
    
    function JsonToDate(date) {
        var returnedDate = new Date(parseInt(date.substr(6)));
        return returnedDate;
    }
   

</script>