@model NHiberanteDal.DTO.CourseDto
@{
    ViewBag.Title = "Create new course";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="box grid_8 round_all">
            <h2 class="box_head grad_colour">
                Basic Info</h2>
            <div class="block">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Logo)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Logo)
                    @Html.ValidationMessageFor(model => model.Logo)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.CourseType)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.CourseType, ViewBag.CourseTypes as SelectList)
                    @Html.ValidationMessageFor(model => model.CourseType)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.IsPasswordProtected)
                </div>
                <div class="editor-field">
                    @Html.CheckBoxFor(model => model.IsPasswordProtected)
                    @Html.ValidationMessageFor(model => model.IsPasswordProtected)
                </div>
            </div>
        </div>
        <div class="box grid_8 round_all">
            <h2 class="box_head grad_colour">
                Description Info</h2>
            <div class="block form-text-areas">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="editor-field form-text-area">
                    @Html.TextAreaFor(model => model.Description, new { @style = "width:100%;" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ShortDescription)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.ShortDescription, new { @style = "width:100%;" })
                    @Html.ValidationMessageFor(model => model.ShortDescription)
                </div>
            </div>
        </div>
        <hr class="grid_16" />
        <button class="button_colour" value="Save" type="submit">
            <img height="24" width="24" alt="Bended Arrow Right" src="@Url.Content("~/Content/Adminica/images/icons/small/white/bended_arrow_right.png")">
            <span>Save</span>
        </button>
    </fieldset>
}
