@model NHiberanteDal.DTO.CourseDto
@{
    ViewBag.Title = "Kurs";
}
<div class="flat_area grid_5 round_all">
    <a id="opener" href="@Url.Action("Details", new { id = @Model.ID })" class="features">
        <img src="@Url.Content("~/Content/Images/" + @Model.Logo + ".png")"/>
    </a>
    <p>
        <h1>@Model.Name</h1>
    </p>
    <p>
        <strong>Course Type</strong> : @Model.CourseType.TypeName</p>
    <p>
        <strong>Date Created</strong> : @Model.CreationDate.ToShortDateString()</p>
    @if (!Model.Group.Users.Any(c => c.LoginName == User.Identity.Name))
    { 
        <button id="btnJoinModal" style="padding: 5px; margin-top: 70px;" class="button_colour">
            <img style="width: 66px;" alt="Bended Arrow Right" src="@Url.Content("~/Content/Adminica/images/content/sortable.png")">
            <span style="font-size: 30px;">Join</span>
        </button>
    }
</div>
<div class="box grid_8 tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="tab_header grad_colour clearfix ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tabs-1">
            Description</a></li>
        <li class="ui-state-default ui-corner-top"><a href="#tabs-2">News</a></li>
        <li class="ui-state-default ui-corner-top"><a href="#tabs-3">ShoutBox</a></li>
    </ul>
    <div class="toggle_container">
        <div id="tabs-1" class="block ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            <div class="content">
                @Model.Description
            </div>
        </div>
        <div id="tabs-2" class="block ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            <div class="content">
                @Model.News
            </div>
        </div>
        <div id="tabs-3" class="block no_padding ui-tabs-panel ui-widget-content ui-corner-bottom">
            @Html.Partial("_ShoutBoxPartial", ViewData);
        </div>
    </div>
</div>
<div class="flat_area grid_3 round_all">
    @if (Model.Group.Users.Any(c => c.LoginName == User.Identity.Name))
    { 
        <button class="button_colour" onClick="window.location='@Url.Action("Details", "Group", new { id = Model.Group.ID })'">
            <img height="24" width="24" alt="Bended Arrow Right" src="@Url.Content("~/Content/Adminica/images/icons/small/white/users.png")">
            <span>Group</span>
        </button>
        <button style="padding: 5px" class="button_colour">
            <img height="24" width="24"  alt="Bended Arrow Right" src="@Url.Content("~/Content/Adminica/images/icons/small/white/fountain_pen.png")">
            <span>Tests</span>
        </button>
        if (Model.Group.Users.Any(c => c.LoginName == User.Identity.Name))
        {
        <button id="btnLeaveModal" class="button_colour" style="margin-top: 210%;">
            <img height="24" width="24" alt="Bended Arrow Right" src="@Url.Content("~/Content/Adminica/images/icons/small/white/exit.png")">
            <span>Leave</span>
        </button>
        }

    }
</div>
<hr class="grid_16" />
<div class="box grid_16" >
    <h2 class="box_head_no_margin">
        Learning Materials</h2>
    <a href="#" class="toggle">&nbsp;</a>
    <div class="toggle_container">
            @Html.Partial("_LearningMaterialsList",Model)
    </div>
</div>
<script type="text/javascript">

    $(function()
        {
        $("#btnJoinModal").click(function() {
            $("<div id='createEventModal'/>").dialog({
                    modal: true,
                    open: function() {
                        $.ajax({
                                type : "GET",
                                url: "@Html.Raw(Url.Action("Join", "Group", new { groupId = Model.Group.ID, courseId = Model.ID, isPasswordProtected = Model.IsPasswordProtected }))",
                                cache: false,
                                dataType: "html",
                                success: function(data) {   
                                    $("#createEventModal").html(data);
                                },
                                error : function (data) {
                                    $("#createEventModal").html(data);
                                }
                            });
                    },
                    close: function() {
                        if($("#modalResult").text() == "true")
                        {
                            $("#btnJoinModal").hide();
                            $("#btnLeaveModal").show();
                        }
                        $("#createEventModal").remove();
                    },
                    height: 500,
                    width: 900,
                    title: 'Join Course'
                });
            return false;
        });

        $("#btnLeaveModal").click(function() {
            $("<div id='createEventModal'/>").dialog({
                    modal: true,
                    open: function() {
                        $.ajax({
                                type : "GET",
                                url:
                                    "@Url.Action("Leave", "Group", new { groupId = Model.Group.ID })",
                                cache: false,
                                dataType: "html",
                                success: function(data) {
                                    $("#createEventModal").html(data);
                                }
                            });
                    },
                    close: function() {
                        if($("#modalResult").text() == "true")
                        {
                            $("#btnJoinModal").show();
                            $("#btnLeaveModal").hide();
                        }
                        $("#createEventModal").remove();
                    },
                    height: 500,
                    width: 900,
                    title: 'Leave Course'
                });
            return false;
        });
    });

</script>
