@{
    ViewBag.Title = "Kurs";
}

@using System.Web.Mvc.Html

@model NHiberanteDal.DTO.CourseDto


<h2>@Model.Name</h2>
<ul>

        @if(Model.Logo == null)
        {
             <img src="../../Images/nologo.jpg" />        
        }
        else
        {
            <img src="../../Images/"@Model.Logo /> 
        }

    <li>Course Type : @Model.CourseType.TypeName</li>
    <li>DateCreated : @Model.CreationDate.ToShortDateString()</li>
    <li>@Html.ActionLink("Forum", "Show", "Forum")</li>
    <li>@Html.ActionLink("Group", "Details", "Group")</li>


    @Html.RenderPartial("_ShoutBoxPartial");

    <br />
</ul>

