@{
    ViewBag.Title = "Kurs";
}

@model NHiberanteDal.DTO.CourseDto


<h2>@Model.Name</h2>
<ul>

        @if(Model.Logo == null)
        {
             <img src="../../Images/nologo.jpg" />        
        }
        else
        {
            <img src="../../Images/"@Model.Logo /> 
        }

    <li>Course Type : @Model.CourseType.TypeName</li>
    <li>DateCreated : @Model.CreationDate.ToShortDateString()</li>
    <li>@Html.ActionLink("Forum", "Show", "Forum",new {id=Model.ID})</li>
    <li>@Html.ActionLink("Group", "Details", "Group", new { id = Model.ID })</li>


    @{ Html.RenderPartial("_ShoutBoxPartial",ViewData); }

    <br />
</ul>

