<link href="../../Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Kurs";
}

@model NHiberanteDal.DTO.CourseDto


<h2>@Model.Name</h2>
<ul>

        @if(Model.Logo == null)
        {
             <img src="../../Images/nologo.jpg" />        
        }
        else
        {
            <img src="../../Images/"@Model.Logo /> 
        }

    <li>Course Type : @Model.CourseType.TypeName</li>
    <li>DateCreated : @Model.CreationDate.ToShortDateString()</li>


    @if (Request.IsAuthenticated)
    { 
        <li>@Html.ActionLink("Forum", "Details", "Forum", new { id = Model.Forum.ID },null)</li>
        <li>@Html.ActionLink("Group", "Details", "Group", new { id = Model.Group.ID },null)</li>


        Html.RenderPartial("_ShoutBoxPartial",ViewData);



        <br />
    }
</ul>

    @if (Request.IsAuthenticated)
    { 
        if(Model.Group.Users.Any(c=>c.Name == User.Identity.Name))
        {
            <button id="btnLeaveModal">Leave</button>
            <button id="btnJoinModal" hidden="hidden">Join</button>
        }
        else
        {
            <button id="btnLeaveModal"hidden="hidden">Leave</button>
            <button id="btnJoinModal">Join</button>
        }
    }


<script type="text/javascript">

    $(function()
        {
        $("#btnJoinModal").click(function() {
            $("<div id='createEventModal'/>").dialog({
                    modal: true,
                    open: function() {
                        $.ajax({
                                type : "GET",
                                url: "@Html.Raw(Url.Action("Join", "Group",new {groupId = Model.Group.ID,courseId=Model.ID,isPasswordProtected = Model.IsPasswordProtected}))",
                                cache: false,
                                dataType: "html",
                                success: function(data) {   
                                    $("#createEventModal").html(data);
                                },
                                error : function (data) {
                                    $("#createEventModal").html(data);
                                }
                            });
                    },
                    close: function() {
                        if($("#modalResult").text() == "true")
                        {
                            $("#btnJoinModal").hide();
                            $("#btnLeaveModal").show();
                        }
                        $("#createEventModal").remove();
                    },
                    height: 500,
                    width: 900,
                    title: 'Join Course'
                });
            return false;
        });

        $("#btnLeaveModal").click(function() {
            $("<div id='createEventModal'/>").dialog({
                    modal: true,
                    open: function() {
                        $.ajax({
                                type : "GET",
                                url:
                                    "@Url.Action("Leave","Group",new {groupId = Model.Group.ID})",
                                cache: false,
                                dataType: "html",
                                success: function(data) {
                                    $("#createEventModal").html(data);
                                }
                            });
                    },
                    close: function() {
                        if($("#modalResult").text() == "true")
                        {
                            $("#btnJoinModal").show();
                            $("#btnLeaveModal").hide();
                        }
                        $("#createEventModal").remove();
                    },
                    height: 500,
                    width: 900,
                    title: 'Leave Course'
                });
            return false;
        });
    });

</script>

