<link href="../../Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Kurs";
}

@model NHiberanteDal.DTO.CourseDto


<h2>@Model.Name</h2>
<ul>

        @if(Model.Logo == null)
        {
             <img src="../../Images/nologo.jpg" />        
        }
        else
        {
            <img src="../../Images/"@Model.Logo /> 
        }

    <li>Course Type : @Model.CourseType.TypeName</li>
    <li>DateCreated : @Model.CreationDate.ToShortDateString()</li>
    <li>@Html.ActionLink("Forum", "Details", "Forum",new {id=Model.ID})</li>
    <li>@Html.ActionLink("Group", "Details", "Group", new { id = Model.ID })</li>


    @{ Html.RenderPartial("_ShoutBoxPartial",ViewData); }



    <br />
</ul>

        @if(Model.Group.Users.Any(c=>c.Name == User.Identity.Name))
        {
            <button id="btnLeave">Leave</button>
        }
        else
        {
            <button id="btnJoin">Join</button>
        }


<script type="text/javascript">

    $(function()
        {
        $("#btnJoin").click(function() {
            $("<div id='createEventModal'/>").dialog({
                    modal: true,
                    open: function() {
                        $.ajax({
                                url:
                                    "@Url.Action("Join","Group",new {groupId = Model.Group.ID})",
                                cache: false,
                                dataType: "html",
                                success: function(data) {
                                    $("#createEventModal").html(data);
                                }
                            });
                    },
                    close: function() {
                        $("#createEventModal").remove();
                    },
                    height: 500,
                    width: 900,
                    title: 'Join Course'
                });
            return false;
        });

        $("#btnLeave").click(function() {
            $("<div id='createEventModal'/>").dialog({
                    modal: true,
                    open: function() {
                        $.ajax({
                                url:
                                    "@Url.Action("Leave","Group",new {groupId = Model.Group.ID})",
                                cache: false,
                                dataType: "html",
                                success: function(data) {
                                    $("#createEventModal").html(data);
                                }
                            });
                    },
                    close: function() {
                        $("#createEventModal").remove();
                    },
                    height: 500,
                    width: 900,
                    title: 'Leave Course'
                });
            return false;
        });
    });

</script>

